In [327]:
import pandas as pd

In [328]:
farmer = pd.read_excel("farmer_sheet.xlsx")
farmer

,mobile_number,acres,crop_name,month_fertlizer,kg_fertlizer,month_pesticides,ltr_pesticides,kg_seeds,month_seeds,fpo_name,warehouse_location
0,7299859147,4,cotton,January,8,December,9,6,March,seeds,virudhunagar
1,8928282828,1,paddy,January,3,March,4,6,March,seeds,virudhunagar
2,1811919198,1,paddy,January,3,March,1,6,March,dharani,hyd
3,1828373733,8,sugarcane,February,3,February,1,6,February,seeds,virudhunagar

In [329]:
def farmer_count(farmer):
    return {"farmers_count":len(farmer['mobile_number'])}

In [369]:
def pesticides(farmer):
    mydict={}
    farmer = farmer.groupby(['fpo_name','month_pesticides'])['ltr_pesticides'].sum()
    result = []
    for k,v in farmer.to_dict().items():
        t = k
        t = t + (v,)
        result.append(t)
    a=[]
    b=[]
    c=[]
    for a1,b1,c1 in tuple(result):
        a.append(a1)
        b.append(b1)
        c.append(c1)
    data = {'fpo_name':a,
            'month':b,
           'values':c}
    new_df = pd.DataFrame(data)
    new_df = new_df.groupby('fpo_name')['values']
    re = []
    for k1,k2 in new_df.apply(list).to_dict().items():
        re.append({"label":k1,"value":k2})
    return re

def fertlizer(farmer):
    mydict={}
    farmer = farmer.groupby(['fpo_name','month_fertlizer'])['kg_fertlizer'].sum()
    result = []
    for k,v in farmer.to_dict().items():
        t = k
        t = t + (v,)
        result.append(t)
    a=[]
    b=[]
    c=[]
    for a1,b1,c1 in tuple(result):
        a.append(a1)
        b.append(b1)
        c.append(c1)
    data = {'fpo_name':a,
            'month':b,
           'values':c}
    new_df = pd.DataFrame(data)
    new_df = new_df.groupby('fpo_name')['values']
    re = []
    for k1,k2 in new_df.apply(list).to_dict().items():
        re.append({"label":k1,"value":k2})
    return re
def seeds(farmer):
    mydict={}
    farmer = farmer.groupby(['fpo_name','month_seeds'])['kg_seeds'].sum()
    result = []
    for k,v in farmer.to_dict().items():
        t = k
        t = t + (v,)
        result.append(t)
    a=[]
    b=[]
    c=[]
    for a1,b1,c1 in tuple(result):
        a.append(a1)
        b.append(b1)
        c.append(c1)
    data = {'fpo_name':a,
            'month':b,
           'values':c}
    new_df = pd.DataFrame(data)
    new_df = new_df.groupby('fpo_name')['values']
    re = []
    for k1,k2 in new_df.apply(list).to_dict().items():
        re.append({"label":k1,"value":k2})
    return re
seeds(farmer)

[{'label': 'dharani', 'value': [6]}, {'label': 'seeds', 'value': [6, 12]}]

In [376]:
def bar_chart():
    data = {"type":"bar",
    "dataset":
    {
        "pesticides":[{
        "dataset":pesticides(farmer)
    }],
          "seeds":[{
        "dataset":seeds(farmer)
    }],
          "fertlizer":[{
        "dataset":fertlizer(farmer)
    }]
    }}
    return data

In [377]:
bar_chart()

{'chat_type': 'bar',
 'dataset': {'pesticides': [{'dataset': [{'label': 'dharani', 'value': [1]},
     {'label': 'seeds', 'value': [9, 1, 4]}]}],
  'seeds': [{'dataset': [{'label': 'dharani', 'value': [6]},
     {'label': 'seeds', 'value': [6, 12]}]}],
  'fertlizer': [{'dataset': [{'label': 'dharani', 'value': [3]},
     {'label': 'seeds', 'value': [3, 11]}]}]}}

In [442]:
bid_report = pd.read_excel("bid_data.xlsx")

In [443]:
bid_report

  company_name bid_status product_name fpo_name warehouse_loc  amount
0     company1       lost    fertlizer    seeds       madurai   15000
1     company1        won         seed  dharani           hyd   76889
2     company2       lost         seed    seeds       madurai   70000
3     company3        won   pesticides  dharani           hyd   90000

In [444]:
def bid_status(bid_report):
    submitted=len(bid_report['company_name'])
    lost = bid_report.loc[bid_report.bid_status == 'lost', 'bid_status'].count()
    won = bid_report.loc[bid_report.bid_status == 'won', 'bid_status'].count()
    return {"type":"pie","dataset":[submitted,lost,won]}
import json

In [445]:
def top_bid(bid_report):
    dt = bid_report.sort_values("amount", ascending=False)
    return {"type":"top_bid","dataset":json.loads(dt[['company_name','product_name','fpo_name','amount']].to_json(orient='records'))}

In [540]:
def cards(bid_report,company_name):
    ds = []
    a = json.loads(bid_report.loc[bid_report['company_name'] == company_name][['bid_status','product_name']].to_json(orient='records'))
    return {"type":"top_bid","dataset":a}

In [541]:
cards(bid_report,"company1")

{'type': 'top_bid',
 'dataset': [{'bid_status': 'lost', 'product_name': 'fertlizer'},
  {'bid_status': 'won', 'product_name': 'seed'}]}